*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding:  40px;
    text-align: center;
}
.block-p .change-size{
    width: 300px;
    height: 300px;
}
.inline-a .change-size{
    width: 300px;
    height: 300px;
}

.inline-p p{
    display: inline;
    color: red;

}
.block-a a{
    display: block;
    width: 300;
    margin: 15px;
    height: 300;
    color: yellow;
}

.block-p .change-margin{
    margin: 50px;
}
.inline-a .change-margin{
    margin: 50px;
}
.block-p .change-padding{
    padding: 50px;
}
.inline-a .change-padding{
    padding: 50px;
}
.example p{
    padding: 50px;
    width: 500px;
    margin: auto;
    background-color: blueviolet;
    border: 4px solid rgb(255, 56, 56);
}
.example span{
    background-color: rgba(240, 255, 255, 0.534);
    padding: 10px;
    margin: 10px;
    border: 2px dashed black;
}
div{
    margin: 15px;
}
.example.inline-block span{
    display: inline-block;
}
.column{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
.column.first{
    vertical-align: bottom;
}